body {
   background-color:black;
}

table td {
   color:white;
   font-family:impact;
}

table th {
   color:white;
   font-family:impact;
}

ul {
   list-style-position:inside;
}

li {
   color:white;
   font-family:impact;
}

h3 {
   text-transform:uppercase;
   text-decoration:underline;
   font-family:impact;
   color:white;
   text-align:center;
   
}

h1 {
   font-family:impact;
   text-transform:uppercase;
   text-align:center;
   color:white;
}

p {
   font-family:impact;
   text-align:center;
   color:white;
}

a {
   font-family:impact;
   color:white;
   text-align:center;
}

img {
   display:block;
   margin-left:auto;
   margin-right:auto;
}

iframe {
   display:block;
   margin-left:auto;
   margin-right:auto;
}

form {
   text-align:center;
   font-family:impact;
}
    
.center-table {
   margin-left:auto;
   margin-right:auto;
}
      
.center-list {
   text-align:center;
}

@media print {
   .screen_only {
      display: none;
   }
}
