<html>
<head>
<style>
   
    h1 {
      
      font-family:courier new
    }


    h3 {
    
      font-family:courier new;
      text-transform:uppercase
    }

    p {
      
      font-family:courier new
    }
      
    .center-table {
      margin-left:auto;
      margin-right:auto;
    }
      
    .center-list {
      text-align:center;
    }
      
    .center-list ul li{
      display:inline;
    }
</style>
</head>
</html>
